.App {
  text-align: center;
}
.div{
  display: flex;
  gap: 50px;
  width: 50%; 
  
  margin: auto;
}
.ediv{
   width: 300px;
  height: 300px;
  border: 2px solid ;
  margin-top: 150px; 
}
.one{
  background-color: rgb(94, 197, 94);
  border: 2px solid rgb(0, 106, 0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px; 
}
.two{
  background-color: rgb(236, 236, 102);
  border: 2px solid rgb(183, 183, 32);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
}
.three{
  background-color: rgb(107, 107, 229);
  border: 2px solid blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
}
.four{
  background-color: rgb(162, 241, 241);
  border: 2px solid rgb(31, 181, 181);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
}
.five{
  background-color: rgb(244, 192, 244);
  border: 2px solid rgb(150, 65, 150);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
}

.box {
  min-width: 150px;
  margin-top: 00px;
  margin-left: 15%;
  min-height: 300px;
  float: left;
  border: black 2px solid;
}
.balls {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  border: 1.5px solid ;
  margin: 30px;
  text-align: center;  
}