.App {
  text-align: center;
}



/*Circles Style CSS */



.box {
  min-width: 200px;
  margin-top: 00px;
  margin-left: 15%;
  min-height: 300px;
  float: left;
  border: black 2px solid;
  cursor: pointer;
}
.balls {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  border: 1.5px solid ;
  margin: 30px;
  text-align: center;  
  cursor: pointer;
}
input{
  width: 150px;
  height: 20px;
  background-color: rgb(186, 246, 246);
  border-radius: 5px;
  color: black;
  border: solid .5px;
}
button{
  background-color: rgb(18, 225, 76);
  color: white;
  border-radius: 5px;
  width: 100px;
   height: 25px;
   border: solid 1px ;
   margin-left: 5px;
   cursor: pointer;
}

/*Navbar Style CSS */


.navbar{  
  background-color: rgb(210, 153, 30);
  color: white;
  width: 100%;
  height: 60px;
  margin-top: 00px;
  margin-bottom: 10px;
  padding: 6px;
}
.h3{
  text-align: center;
}
